build/
.vscode/
../../sdkconfig.old/
vscode/
/Activity_detection/Human_Activity_Recognition.ipynb
*.json
*.svd 
.vscode/
debug.cfg
*.orig
build/
sdkconfig.old
sdkconfig
extra.c
Wifi/sdkconfig.old
Wifi/sdkconfig

# Ignore SDK configuration files
**/sdkconfig
**/sdkconfig.old

# Ignore Visual Studio Code settings and folders
.vscode/
.vscode/*

# Ignore build output
**/build/